@{
    ViewData["Title"] = "Home Page";
}


<div class="mb-3">
  <label for="formFile" class="form-label">Загрузите файл спецификации</label>
  <input class="form-control" type="file" id="formFile">
</div>