@using Microsoft.AspNetCore.Mvc
@using System.Collections.Generic
@using SUPPLY.Models
@model IEnumerable<Components>
@using Microsoft.Office.Interop.Excel;
@using Excel = Microsoft.Office.Interop.Excel;
@using SUPPLY;
@using System.IO;
@using ClosedXML.Excel;


@{
    ViewData["Title"] = "Home Page";
}


<div class="mb-3">
  <label for="formFile" class="form-label">Загрузите файл спецификации</label>
  <input class="form-control" type="file" id="formFile">
</div>


<a href="Home/Specification">Открыть спецификацию</a>

@{

  string path = "/Users/vladimirgubin/web-developer/SUPPLY/wwwroot/file/component.xlsx";
        
  var workbook = new XLWorkbook(path);
  var worksheet = workbook.Worksheet(1);
  var rows = worksheet.RangeUsed().RowsUsed(); // Skip header row
  // пример чтения строк файла.
  foreach (var row in rows)
  {
    <div>@row.Cell(1).Value</div>
    <div>@row.Cell(2).Value</div>
    <div>@row.Cell(3).Value</div>

  }
  
}
