@using Microsoft.AspNetCore.Mvc
@using System.Collections.Generic
@using SUPPLY.Models
@model IEnumerable<Components>
@using Microsoft.Office.Interop.Excel;
@using Excel = Microsoft.Office.Interop.Excel;
@using SUPPLY;


@{
    ViewData["Title"] = "Home Page";
}


<div class="mb-3">
  <label for="formFile" class="form-label">Загрузите файл спецификации</label>
  <input class="form-control" type="file" id="formFile">
</div>


<a href="Home/Specification">Открыть спецификацию</a>

@{

  string path = "/Users/vladimirgubin/web-developer/SUPPLY/wwwroot/file/component.xlsx";
        
  Excel.Application excelapp = new Excel.Application();
  var wb = excelapp.Workbooks.Open(path);

}
