@using SUPPLY.Models
@model IEnumerable<Components>

@{
    ViewData["Title"] = "Спецификация на проект:";

}
<h1>@ViewData["Title"] </h1>

<p>Вы загрузили данные для спецификации</p>






