@{
    ViewData["Title"] = "Спецификация на проект:";
}
<h1>@ViewData["Title"] </h1>

<p>Вы загрузили данные для спецификации</p>


@Html.ActionLink("О сайте", "Index")
@Html.ActionLink("Список книг", "List", "Book")